<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css" charset="utf-8">
    <title>KillBase - Meet the Assassins</title>
</head>
<body>
    <% include ./partials/nav %>
    <table>
        <tr>
            <form action="/assassins_kills" method="GET">
                <td>Filter by Kills
                    <br/>
                    <select name="kills">
                        <option value=""></option>
                        <option value="0">0 and up</option>
                        <option value="10">10 and up</option>
                        <option value="30">20 and up</option>
                        <option value="40">30 and up</option>
                        <option value="50">40 and up</option>
                        <option value="60">50 and up</option>
                    </select>
                    <br/>
                    <button type="submit" class="nav">Filter by Kills</button></td>
            </form>
            <form action="/assassins_age" method="GET">
                <td>Filter by Age
                    <br/>
                    <select name="age">
                        <option value=""></option>
                        <option value="10">10 and over</option>
                        <option value="20">20 and over</option>
                        <option value="30">30 and over</option>
                        <option value="40">40 and over</option>
                        <option value="50">50 and over</option>
                        <option value="60">60 and over</option>
                    </select>
                    <br/>
                    <button type="submit" class="nav">Filter by Age</button></td>
            </form>
            <form action="/assassins_price" method="GET">
                <td>Filter by Price
                    <br/>
                    <select name="price">
                        <option value=""></option>
                        <option value="0">$0 and over</option>
                        <option value="10">$10K and over</option>
                        <option value="20">$20K and over</option>
                        <option value="30">$30K and over</option>
                        <option value="40">$40K and over</option>
                        <option value="50">$50K and over</option>
                        <option value="60">$60K and over</option>
                        <option value="70">$70K and over</option>
                        <option value="80">$80K and over</option>
                        <option value="90">$90K and over</option>
                        <option value="100">$100K and over</option>
                    </select>
                    <br/>
                    <button type="submit" class="nav">Filter by Price</button></td>
            </form>
            <form action="/assassins_rating" method="GET">
                <td>Filter by Rating
                    <br/>
                    <select name="rating">
                        <option value=""></option>
                        <option value="1">1.0 and over</option>
                        <option value="2">2.0 and over</option>
                        <option value="3">3.0 and over</option>
                        <option value="4">4.0 and over</option>
                        <option value="5">5.0 and over</option>
                        <option value="6">6.0 and over</option>
                        <option value="7">7.0 and over</option>
                        <option value="8">8.0 and over</option>
                        <option value="9">9.0 and over</option>
                    </select>
                    <br/>
                    <button type="submit" class="nav">Filter by Rating</button></td>
            </form>
            <form action="/assassins_availability" method="GET">
                <td>Filter by Availability
                    <br/>
                    <select name="availability">
                        <option value=""></option>
                        <option value="contracted">Currently Contracted</option>
                        <option value="not_contracted">Not Currently Contracted</option>
                    </select>
                    <br/>
                    <button type="submit" class="nav">Filter by Availablity</button></td>
            </form>
        </tr>
    </table>
    <% for(var i=0; i<assassins.length; i++) {%>
        
            <div class='div_thumb'>
                <table>
                    <tr>
                        <td><img class="thumb" src="<%= assassins[i].assassin_photo %>"></td>
                        <td>Name: <%= assassins[i].assassin_name %>
                        <br/>Contact: <%= assassins[i].assassin_contact %>
                        <br/>Weapon: <%= assassins[i].weapon %>
                        <br/>Age: <%= assassins[i].age %>
                        <br/>Price: $<%= assassins[i].price %>K
                        <br/>Rating: <%= assassins[i].rating %>
                        <br/>Kills: <%= assassins[i].kills %>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a href="assassins_all/<%= assassins[i].assassin_id %>"><button>Profile</button></a>
                            <a href="assassins_all/edit/<%= assassins[i].assassin_id %>"><button>Edit</button></a>
                            <a href="assassins_all/delete/<%= assassins[i].assassin_id %>"><button onclick="deleteConfirm()">Delete</button></a>
                            <script>
                            function deleteConfirm() {
                                confirm("Are you sure you want to delete this assassin?");
                            }
                            </script>
                            <!-- <script>
                            function myFunction() {
                                var txt;
                                var r = confirm("Press a button!");
                                if (r == true) {
                                    txt = "You pressed OK!";
                                } else {
                                    txt = "You pressed Cancel!";
                                }
                                document.getElementById("demo").innerHTML = txt;
                            }
                            </script> -->
                        </td>
                    </tr>
                </table>
            </div>

    <% } %>
</body>
</html>