<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css" charset="utf-8">
    <title>KillBase</title>
</head>
<body>
    <% include ./partials/nav %>
    <% for(var i=0; i<assassins.length; i++) {%>
        
            <div class='div_assassin'>
                <table>
                    <tr>
                        <td><img class="thumb" src="<%= assassins[i].assassin_photo %>"></td>
                        <td>Name: <%= assassins[i].assassin_name %>
                        <br/>Contact: <%= assassins[i].assassin_contact %>
                        <br/>Weapon: <%= assassins[i].weapon %>
                        <br/>Age: <%= assassins[i].age %>
                        <br/>Price: $<%= assassins[i].price %>K
                        <br/>Rating: <%= assassins[i].rating %>
                        <br/>Kills: <%= assassins[i].kills %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="assassins_all/<%= assassins[i].assassin_id %>">Profile</a>
                            <a href="assassins_all/edit/<%= assassins[i].assassin_id %>">Edit</a>
                            <a href="assassins_all/delete/<%= assassins[i].assassin_id %>">Delete</a>
                        </td>
                    </tr>
                </table>
            </div>

    <% } %>
</body>
</html>