<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css" charset="utf-8">
    <title>KillBase - Contract Deleted</title>
</head>
<body>
    <% include ./partials/nav %>
    <% for(var i=0; i<contracts.length; i++) {%>
        
            <div class='div_assassin'>
                <table>
                    <tr>
                        <td>Contract Deleted</td>
                    </tr>
                    <!-- <tr>
                        <td><img class="thumb" src="<%= contracts[i].assassin_photo %>"></td>
                        <td>Client: <%= contracts[i].contract_id %>
                        <br/>Contact: <%= contracts[i].assassin_contact %>
                        <br/>Weapon: <%= assassin[_rowi].weapon %>
                        <br/>Age: <%= contracts[i].age %>
                        <br/>Price: $<%= contracts[i].price %>K
                        <br/>Rating: <%= contracts[i].rating %>
                        <br/>Kills: <%= contracts[i].kills %>
                        </td>
                    </tr> -->
                </table>
            </div>

    <% } %>
</body>
</html>