<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css" charset="utf-8">
    <title>KillBase</title>
</head>
<body>
    <% include ./partials/nav %>
    <div class='div_large'>
        <table>
            <tr>
                <td><img class="thumb" src="<%= contracts[0].target_photo %>"></td>
                <td><strong>Target:</strong> <%= contracts[0].target_name %>
                <br/><strong>Security:</strong> <%= contracts[0].security %>
                <br/><strong>Budget:</strong> $<%= Math.round(contracts[0].budget) %>K
                <br/><strong>Location:</strong> <%= contracts[0].location %>
                <br/><strong>Client:</strong> <%= contracts[0].client_name %>
                <br/><strong>Assigned to:</strong> 
                <% for(var i=0; i<assassins.length; i++) {%>
                    <%= assassins[i].assassin_name %> (<%= assassins[i].code_name %>), 
                <% } %>
                <br/><strong>Completed:</strong> <%= contracts[0].completed %>
                <br/><strong>Completed By:</strong> <%= contracts[0].assassin_name %> (<%= contracts[0].code_name %>)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="edit/<%= contracts[0].contract_id %>"><button>Edit</button></a>
                    <a href="delete/<%= contracts[0].contract_id %>"><button>Delete</button></a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>